In [21]:
import plotly.graph_objects as go
import pandas as pd

In [22]:
df_airports = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_february_us_airport_traffic.csv')
df_airports.head()

df_flight_paths = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_february_aa_flight_paths.csv')
df_flight_paths.head()

   start_lat  start_lon    end_lat     end_lon airline airport1 airport2  cnt
0  32.895951 -97.037200  35.040222 -106.609194      AA      DFW      ABQ  444
1  41.979595 -87.904464  30.194533  -97.669872      AA      ORD      AUS  166
2  32.895951 -97.037200  41.938874  -72.683228      AA      DFW      BDL  162
3  18.439417 -66.001833  41.938874  -72.683228      AA      SJU      BDL   56
4  32.895951 -97.037200  33.562943  -86.753550      AA      DFW      BHM  168

In [23]:
fig = go.Figure()

fig.add_trace(go.Scattergeo(
    locationmode = 'USA-states',
    lon = df_airports['long'],
    lat = df_airports['lat'],
    hoverinfo = 'text',
    text = df_airports['airport'],
    mode = 'markers',
    marker = dict(
        size = 2,
        color = 'rgb(255, 0, 0)',
        line = dict(
            width = 3,
            color = 'rgba(68, 68, 68, 0)'
        )
    )))

Scattergeo({
    'hoverinfo': 'text',
    'lat': array([41.979595  , 33.64044444, 32.89595056, ..., 43.90882639, 34.681499  ,
                  45.8076625 ]),
    'locationmode': 'USA-states',
    'lon': array([ -87.90446417,  -84.42694444,  -97.0372    , ...,  -92.49798722,
                   -90.348816  , -108.5428611 ]),
    'marker': {'color': 'rgb(255, 0, 0)', 'line': {'color': 'rgba(68, 68, 68, 0)', 'width': 3}, 'size': 2},
    'mode': 'markers',
    'text': array(["Chicago O'Hare International", 'William B Hartsfield-Atlanta Intl',
                   'Dallas-Fort Worth International', ..., 'Rochester International',
                   'Tunica Municipal Airport', 'Billings Logan Intl'], dtype=object),
    'uid': '04f9d823-9fd0-4d99-934a-aaa8bb5dab27'
})

In [24]:
flight_paths = []
for i in range(len(df_flight_paths)):
    fig.add_trace(
        go.Scattergeo(
            locationmode = 'USA-states',
            lon = [df_flight_paths['start_lon'][i], df_flight_paths['end_lon'][i]],
            lat = [df_flight_paths['start_lat'][i], df_flight_paths['end_lat'][i]],
            mode = 'lines',
            line = dict(width = 1,color = 'red'),
            opacity = float(df_flight_paths['cnt'][i]) / float(df_flight_paths['cnt'].max()),
        )
    )

In [25]:
fig.update_layout(
    title_text = 'Feb. 2011 American Airline flight paths<br>(Hover for airport names)',
    showlegend = False,
    geo = go.layout.Geo(
        scope = 'north america',
        projection_type = 'azimuthal equal area',
        showland = True,
        landcolor = 'rgb(243, 243, 243)',
        countrycolor = 'rgb(204, 204, 204)',
    ),
)

AttributeError: 'Figure' object has no attribute 'update_layout'

In [ ]:
fig.show()